.Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    box-shadow: 10px 10px 50px;
    height: 400px;
    background-color: #ffacac;
    border: 2px solid;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(249, 140, 140);
}

.menor {

background-color: red;

}