.contenedo{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 250px;
box-shadow: 10px 10px 50px;
height: 250px;
}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}